<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105523419023-6j93lc6pmi3vdu8jb1ufqucl87g63qcg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105523419023-6j93lc6pmi3vdu8jb1ufqucl87g63qcg</string>
	<key>API_KEY</key>
	<string>AIzaSyBKl7rwz91EzXeAowWxuy53Cmc95ciwPmQ</string>
	<key>GCM_SENDER_ID</key>
	<string>105523419023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dayoffapp.dayoff</string>
	<key>PROJECT_ID</key>
	<string>dayoff-bc180</string>
	<key>STORAGE_BUCKET</key>
	<string>dayoff-bc180.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105523419023:ios:fb2e9e0110661c26ea9dfa</string>
</dict>
</plist>